@keyframes show-toast {
    0% {bottom: -50%;}
    20% {bottom: 100px;}
    80% {bottom: 100px;}
    100% {bottom: -50%;}
    
}

.show-notification{
    text-align: center;
    position: fixed;
    bottom: 100%;
    right: 20px;
    animation-name: show-toast;
    animation-duration: 8s;
}